<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Lista de Livros</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Vctr19/campuslib" target="_blank">CampusLib</a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li><a th:href="@{/student/all}">Alunos</a></li>
        <li class="active"><a th:href="@{/book/all}">Livros</a></li>
        <li><a href="#">Aluguéis</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Begin page content -->
<div class="container">

  <div class="page-header">
    <a th:href="@{/book/all}" class="btn btn-primary">Lista de Livros</a>
    <a th:href="@{/book/add}" class="btn btn-primary">Cadastrar Livro</a>
  </div>
  <h1>Lista de Livros</h1>

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th scope="col">Nome do Livro</th>
      <th scope="col">Nome do Autor</th>
      <th scope="col">Editora</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="books: ${books}">
      <td th:text="${books.getName}" scope="row"></td>
      <td th:text="${books.getAuthorName}" scope="row"></td>
      <td th:text="${books.getPublisher}" scope="row"></td>
      <td th:text="${books.getQuantity}" scope="row"></td>
      <td scope="row">
        <a href="#" type="button" class="btn btn-info">Editar</a>
        <a href="#" type="button" class="btn btn-danger">Excluir</a>
        <a href="#" type="button" class="btn btn-success">Aluguéis</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<footer class="footer navbar-fixed-bottom">
  <div class="container">
    <p class="text-muted">Desenvolvido por <a href="https://github.com/Vctr19" target="_blank">Victor Ramos</a></p>
  </div>
</footer>
</body>
</html>